/faith_of_beasts_extracted/
/epub_extracted/
/The Captives War 1 - The Mercy of Gods (James S.A. Corey) (z-library.sk, 1lib.sk, z-lib.sk).epub
/The Faith of Beasts - James S. A. Corey.txt
/pyproject.toml
